<div class="container">
    <div id="midi-container">
        <div id="midi-controller">
            <section id="pads">
                <div class="pad" data-midi='{"type":"button","press":[144,37,64],"release":[128,37,127]}'>
                    <p>PAD 1</p>
                    <button></button>
                </div>
                <div class="pad " data-midi='{"type":"button","press":[144,38,64],"release":[128,38,127]}'>
                    <p>PAD 2</p>
                    <button></button>
                </div>
                <div class="pad" data-midi='{"type":"button","press":[144,39,64],"release":[128,39,127]}'>
                    <p>PAD 3</p>
                    <button></button>
                </div>
                <div class="pad" data-midi='{"type":"button","press":[144,40,64],"release":[128,40,127]}'>
                    <p>PAD 4</p>
                    <button></button>
                </div>
                <div class="pad" data-midi='{"type":"button","press":[144,41,64],"release":[128,41,127]}'>
                    <p>PAD 5</p>
                    <button></button>
                </div>
                <div class="pad" data-midi='{"type":"button","press":[144,42,64],"release":[128,42,127]}'>
                    <p>PAD 6</p>
                    <button></button>
                </div>
                <div class="pad" data-midi='{"type":"button","press":[144,43,64],"release":[128,43,127]}'>
                    <p>PAD 7</p>
                    <button></button>
                </div>
                <div class="pad" data-midi='{"type":"button","press":[144,43,64],"release":[128,43,127]}'>
                    <p>PAD 8</p>
                    <button></button>
                </div>
            </section>
        </div>
    </div>
</div>

<section id="midi-data">
    <ul></ul>
</section>
