<div class="container">
    <div id="midi-container">
        <div id="midi-controller">
            <section id="pads">
                <div class="pad" >
                    <p>Light Test</p>
                    <a asp-action="LightUp"></a>
                </div>
                <div class="pad">
                    <p>Light Paint</p>
                    <a asp-action="LightPaint"></a>
                </div>
                <div class="pad">
                    <p>STOP</p>
                    <a asp-action="Clear"></a>
                </div>
                <div class="pad">
                    <p>N/A</p>
                    <button></button>

                </div>
                <div class="pad"'>
                    <p>N/A</p>
                    <button></button>
                </div>
                <div class="pad">
                    <p>N/A</p>
                    <button></button>
                </div>
                <div class="pad">
                    <p>N/A</p>
                    <button></button>
                </div>
                <div class="pad">
                    <p>N/A</p>
                    <button></button>
                </div>
            </section>
        </div>
    </div>
</div>

<section id="midi-data">
    <ul></ul>
</section>
